/*--Home Page----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.video-holder{
    position:relative;
    height:100%;
    width:100%;
}
.video-mask{
    pointer-events:none;
    position:absolute;
    height:100%;
    width:100%;
    right:0px;
    bottom:0px;
}
.video-focus{
    box-shadow:0.5vh 0.5vh 0.5vh rgba(0,0,0,0.2);
    background-color:rgb(255,255,255);
    transform:translateY(0px);
    border-radius:1vh;
    font-size:2vh;
    height:4vh;
    bottom:1vh;
    width:8em;
    right:1vh;

    justify-content:center;
    align-items:center;
    position:absolute;
    cursor:pointer;
    display:flex;
    pointer-events:all;
}
.video-focus:hover{
    transform:translateY(-1px);
}
.video-focus:active{
    transform:translateY(1px);
}
.home-page-video-blur{
    filter:blur(10px);
    opacity:0.5;
}
video{
    border:1px solid rgb(200, 200, 200);
    background-color:rgb(0, 0, 0);
    height:70vh;
    width:100%;
}

/*--About Us Page------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.text-page{
    margin-left:5%;
    margin-top:3%;
    width:90%;
}
h2{
    justify-content:center;
    align-items:center;
    display:flex;
    width:100%;
}

/*--Contact Page-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#contact-map{
    border:1px solid rgb(200, 200, 200);
    margin-top:5vh;
    height:50vh;
    width:75vh;
}
.contact-text{
    left:calc(6vh + 600px);
    user-select:text;
    top:2vh;
}
.contact-text-row{
    justify-content:flex-start;
    align-items:center;
    display:flex;

    font-size:2vh;
    min-height:3vh;
    width:100%;
}
.contact-text-field-name{
    color:rgb(100, 100, 100);
    font-weight:bold;
    flex-shrink:0;
    width:4.5em;
}
.contact-text-field-value{
    white-space:nowrap;
}
h1{
    justify-content:flex-start;
    align-items:center;
    display:flex;
}

/*--Catalog Page-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.catalog-holder{
    justify-content:flex-start;
    align-items:flex-start;
    flex-wrap:wrap;
    display:flex;
}
.catalog-page{
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    flex-wrap:wrap;
    cursor:pointer;
    display:block;

    box-shadow:0px 0px 1vh rgba(50, 50, 50, 0.3);
    transform:translateY(0px);
    height:min(45vh, 45vw);
    flex-shrink:0;
    margin-bottom:2vh;
    margin-left:2vh;
    aspect-ratio:1;
}
.catalog-page:hover{
    transform:translateY(-1px);
}
.catalog-page:active{
    transform:translateY(1px);
}
#catalog-1{
    background-image:url("../assets/katalozi/katalog 1/1-001.png");
}
#catalog-2{
    background-image:url("../assets/katalozi/katalog 2/2-001.png");
}
#catalog-3{
    background-image:url("../assets/katalozi/katalog 3/3-001.png");
}

/*--Product List Page--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.product-page-title{
    white-space:nowrap;
    margin-bottom:2vh;
    margin-left:1vh;
    margin-top:4vh;
}
.product-line{
    border-bottom:1px solid rgb(200, 200, 200);
    margin-bottom:3vh;
    margin-left:1vh;
    margin-top:1vh;
    height:1px;
    width:calc(100% - 1vh);
}
.search-category{
    border:1px solid rgb(150, 150, 150);
    background-color:rgb(255, 255, 255);
    margin-bottom:2vh;
    margin-right:1vh;
    margin-left:1vh;
    padding:1vh;
    height:3vh;
    width:20vh;

    justify-content:center;
    align-items:center;
    text-align:center;
    cursor:pointer;
    display:flex;
}
.search-category:hover{
    transform:scale(1.05);
}
.search-categoryActive{
    transform:scale(1.025);
}
.product-page{
    height:calc(100% - 4vh);
    width:calc(100% - 7vh);
    margin-left:2vh;
}
.product-holder{
    max-height:calc(100% - 9vh);
    height:min-content;
    padding-top:1vh;
    width:100%;

    justify-content:flex-start;
    align-items:flex-start;
    overflow-x:hidden;
    overflow-y:auto;
    flex-wrap:wrap;
    display:flex;
}
.product{
    border:1px solid rgb(150, 150, 150);
    background-color:rgb(255, 255, 255);
    transition:ease-in-out 0.1s;
    margin-bottom:2vh;
    margin-right:1vh;
    margin-left:1vh;
    flex-shrink:0;
    padding:1vh;
    height:32vh;
    width:20vh;

    justify-content:flex-start;
    flex-direction:column;
    align-items:center;
    user-select:text;
    cursor:pointer;
    display:flex;
}
.product:hover{
    transform:scale(1.05);
}
.product:active{
    transform:scale(1.025);
}
.product-img{
    background-position:center center;
    background-repeat:no-repeat;
    background-size:contain;

    height:20vh;
    width:20vh;
}
.product-name{
    justify-content:center;
    align-items:center;
    text-align:center;
    font-weight:bold;
    user-select:text;
    display:flex;

    font-size:2vh;
    height:5vh;
    width:100%;
}
.product-color-holder{
    justify-content:center;
    align-items:center;
    display:flex;

    height:5vh;
    width:100%;
}
.product-color{
    border:1px solid rgb(0, 0, 0);
    margin-right:0.5vh;
    margin-left:0.5vh;
    font-size:1.5vh;
    height:3vh;
    width:3vh;

    justify-content:center;
    align-items:center;
    display:flex;
}
.product-id{
    user-select:text;
    font-size:1.5vh;
    height:3vh;
}
.product-price{
    justify-content:center;
    align-items:center;
    font-weight:bold;
    user-select:text;
    display:flex;

    font-size:2vh;
    height:3vh;
    width:100%;
}

/*--Product Display Page-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.product-display-holder{
    margin-left:4vh;
    margin-top:5vh;
    height:75vh;
    width:calc(100% - 6vh);
    
    justify-content:flex-start;
    align-items:flex-start;
    display:flex;
}
.product-display-image-holder{
    position:relative;
    flex-shrink:0;
    height:100%;
    width:50vh;
}
.product-display-images{
    position:relative;
    aspect-ratio:1;
    width:50vh;
}
.product-display-image{
    position:absolute;
    display:none;

    transform:translate(-50%, -50%);
    width:100%;
    left:50%;
    top:50%;
}
.product-display-all-images{
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    display:flex;
    height:min-content;

    transform:translate(-50%);
    margin-bottom:2vh;
    margin-left:50%;
    margin-top:3vh;
    width:100%;
}
.product-display-small-image{
    border:1px solid rgb(200, 200, 200);
    transition:ease-in-out 0.1s;
    margin:calc(0.5vh + 1px);
    transform:scale(1);
    cursor:pointer;
    flex-shrink:0;
    padding:0.5vh;
    width:7vh;
}
.product-display-small-image:hover{
    transform:scale(1.1);
}
.product-display-small-image:active{
    transform:scale(0.9);
}
.product-display-small-image-selected{
    border:2px solid rgb(150, 150, 150);
    margin:0.5vh;
}
.product-display-data-holder{
    width:calc(100% - 54vh);
    padding-right:2vh;
    padding-left:2vh;
    flex-shrink:0;
    height:100%;
    user-select:text;
    overflow-x:hidden;
    overflow-y:auto;
}
.product-display-name{
    justify-content:flex-start;
    align-items:center;
    font-weight:bold;
    display:flex;

    max-width:40vw;
    font-size:4vh;
    width:75%;
}
.product-display-code{
    justify-content:flex-start;
    align-items:center;
    display:flex;

    margin-top:1vh;
    font-size:2vh;
    width:100%;
}
.product-display-price{
    justify-content:flex-start;
    align-items:center;
    font-weight:bold;
    display:flex;

    margin-top:4vh;
    font-size:4vh;
    width:100%;
}
.product-display-color-holder{
    justify-content:flex-start;
    align-items:center;
    flex-wrap:wrap;
    display:flex;

    height:min-content;
    margin-bottom:5vh;
    margin-top:4vh;
    width:100%;
}
.product-display-color{
    border:1px solid rgb(0, 0, 0);
    transition:ease-in-out 0.1s;
    transform:scale(1);
    margin-bottom:1vh;
    margin-right:1vh;
    display:block;
    height:5vh;
    width:5vh;

    justify-content:center;
    align-items:center;
    display:flex;
}
.product-display-color:hover{
    transform:scale(1.1);
}
.product-display-color:active{
    transform:scale(0.9);
}
.product-display-desc{
    color:rgb(100, 100, 100);
    max-width:40vw;
    font-size:2vh;
    width:100%;

    justify-content:flex-start;
    align-items:center;
    flex-wrap:wrap;
    display:flex;
}
#desc{
    margin-bottom:5vh;
}
#your-logo{
    all:unset;
    border:1px solid rgb(150, 150, 150);
    background-color:rgb(255, 255, 255);
    margin-left:calc(50% - 3.6em);
    border-radius:0.5vh;
    cursor:pointer;
    padding:0.5vh;
}
#your-logo:hover{
    background-color:rgb(245, 245, 245);
}
#your-logo:active{
    background-color:rgb(235, 235, 235);
}

/*--Animations---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@keyframes video-focus-in{
    from {filter:blur(10px); opacity:0.5;}
    to   {filter:blur(0px); opacity:1;}
}
@keyframes video-focus-out{
    from {filter:blur(0px); opacity:1;}
    to   {filter:blur(10px); opacity:0.5;}
}

/*--Send Us Message----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.send-us-message{
    border:1px solid rgb(150, 150, 150);
    background-color:rgb(255, 255, 255);
    transform:translateY(-50%);
    position:absolute;
    padding:1vh;
    right:3vh;
    top:50%;

    height:50vh;
    width:25%;
    min-width:30vh;
}
.send-us-text{
    color:rgb(50, 50, 50);
    font-size:2vh;
}
input[type=text].send-us-input, input[type=email].send-us-input{
    background-color:rgb(245, 245, 245);
    border:1px solid rgb(150, 150, 150);
    color:rgb(50, 50, 50);
    width:calc(100% - 2px);
    font-family:"Inter";
    font-size:2vh;
    height:2.5vh;
    padding:0px;
    margin-bottom:1vh;
}
textarea.send-us-text{
    background-color:rgb(245, 245, 245);
    border:1px solid rgb(150, 150, 150);
    color:rgb(50, 50, 50);
    width:calc(100% - 2px);
    font-family:"Inter";
    font-size:2vh;
    padding:0px;
    height:25vh;
    margin-bottom:1vh;
    resize:none;
}
#send-us-message{
    margin-left:calc(50% - 2.5em);
    width:5em;
}
.send-mask{
    background-color:rgb(0, 0, 0, 0.2);
    position:absolute;
    display:none;
    height:100%;
    width:100%;
    left:0px;
    top:0px;
    z-index:10;
}
.send-captcha-window{
    border:1px solid rgb(150, 150, 150);
    background-color:rgb(255, 255, 255);
    transform:translate(-50%, -50%);
    height:calc(30px + 13vh);
    width:calc(150px + 8vh);
    position:absolute;
    padding:1vh;
    left:50%;
    top:50%;
}
.send-captcha{
    transform:translate(-50%);
    margin-bottom:2vh;
    margin-left:50%;
    padding:2vh;
    height:30px;
    width:150px;
}
#confirm-send-captcha{
    left:calc(50% - 5.5em);
    bottom:1vh;
    width:5em;
    position:absolute;
}
#cancel-send-captcha{
    left:calc(50% + 0.5em);
    bottom:1vh;
    width:5em;
    position:absolute;
}
input[type=text].confirm-captcha-input{
    background-color:rgb(245, 245, 245);
    border:1px solid rgb(150, 150, 150);
    transform:translate(-50%);
    color:rgb(50, 50, 50);
    margin-bottom:2vh;
    margin-left:50%;
    width:148px;
}