/*--Initial------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
:root{
    --side-bar-left:4em;
    --side-bar-width:13em;
    --side-bar-extension-height:calc(19 * 4.5vh + 2px);
    --side-bar-compression-height:calc(12 * 4.5vh + 2px);
    
    --category-width-small:8.5em;
    --category-width:13em;

    --default-canvas-size:80vh;
}
body{
    font-family:"Inter";
    user-select:none;
    overflow-x:hidden;
    overflow-y:auto;

    font-size:2vh;
    padding:0px;
    margin:0px;
    height:100%;
}
input[type=text]{
    background-color:rgb(50, 50, 50);
    color:rgb(255, 255, 255);
    max-width:40vw;
    font-size:2vh;
    padding:0px;
    width:25em;

    font-family:"Inter";
    outline:none;
    border:none;
}
button{
    font-family:"Inter";
    cursor:pointer;
    outline:none;
    border:none;

    border-radius:0px;
    font-size:2vh;
}
a{
    text-decoration:none;
    color:rgb(0, 0, 0);
}
.loading-screen{
    background-color:rgb(255, 255, 255);
    position:absolute;
    height:100%;
    width:100%;
    z-index:10;
    left:0px;
    top:0px;
}

/*--Fonts--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@font-face{
    font-family:"Inter";
    src:url("../assets/fonts/Inter Variable.ttf");
}

/*--Page Body----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.page-body{
    position:absolute;
    height:90%;
    width:100%;
    left:0px;
    top:10%;
}
.page-body-main{
    position:absolute;
    height:calc(95% - 1px);
    top:calc(5% + 1px);
    width:100%;
    left:0px;

    justify-content:flex-start;
    align-items:flex-start;
    display:flex;
}
.page-body-content{
    background-color:rgb(255, 255, 255);
    background-image:radial-gradient(circle at 20% 20%, rgb(255, 255, 255) 1%, rgb(245, 245, 245));
    position:relative;
    height:100%;
    width:100%;
    z-index:1;
}
.path-holder{
    display:none;
    position:absolute;
    font-size:1.5vh;
    z-index:2;
    left:1vh;
    top:0.5vh;
}
.path-link{
    color:rgb(100, 100, 100);
    cursor:pointer;
}
.path-link:hover{
    color:rgb(50, 50, 50);
}
.path-link:active{
    color:rgb(150, 150, 150);
}
#catalog-page-body{
    overflow-y:auto;
}

/*--Animations---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@keyframes fade-in{
    from {opacity:0;}
    to   {opacity:1;}
}
@keyframes fade-out{
    from {opacity:1;}
    to   {opacity:0;}
}

/*--Mobile-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 600px) and (orientation:portrait){
    :root{
        --side-bar-extension-height:calc(19 * 4.1vh + 2px);
        --side-bar-compression-height:calc(12 * 4.1vh + 2px);
    }
    .logo{
        left:0px;
    }
    .search-drop-down{
        width:175%;
    }
    .category{
        width:calc(var(--side-bar-width) + 1px);
        color:rgb(50, 50, 50);
        height:100%;
    
        justify-content:flex-start;
        align-items:center;
        cursor:pointer;
        display:flex;
        transition:ease-in-out 0.35s;
        
        margin-left:0px;
        font-size:1.25vh;
        width:calc(var(--side-bar-width) * 0.8);
        background-color:rgba(0, 0, 0, 0);
        background-image:none;
        border-right:none;
        border-left:none;
    }
    .category:hover{
        background-image:none;
        background-color:none;
        background-size:100%;
    }
    .category-white{
        margin-left:0px;
        font-size:1.25vh;
        width:calc(var(--side-bar-width) * 0.8);
    }
    .category-white:hover{
        background-image:none;
        background-color:none;
    }
    .category-text{
        width:calc(var(--side-bar-width) * 0.8);
    }
    .side-bar{
        margin-left:0px;
    }
    .nav-bar-item{
        font-size:1.25vh;
        padding-right:1em;
        padding-left:0.5em;
    }
    .page-foot{
        height:75%;
    }
    .side-bar-item{
        height:4.1vh;
    }
    .side-bar-item:hover{
        all:none;
    }
    h1{
        justify-content:flex-start;
        align-items:center;
        flex-wrap:wrap;
        display:flex;
        margin-top:5vh;
    }
    .catalog-page{
        height:min(40vh, 40vw);
    }
    #contact-map{
        border:1px solid rgb(200, 200, 200);
        margin-top:5vh;
        height:50vh;
        width:100%;
    }
    .search-category{
        font-size:1.5vh;
        width:15vh;
    }
    .product{
        height:24vh;
        width:15vh;
    }
    .product-name{
        font-size:1.5vh;
    }
    .product-display-holder{
        flex-direction:column;
        margin-left:5%;
        height:100vh;
        width:90%;
    }
    .product-display-image-holder{
        width:100%;
    }
    .product-display-images{
        width:100%;
    }
    .product-display-image{
        width:90%;
    }
    .product-display-data-holder{
        width:90%;
    }
    .push-down-foot{
        top:225%;
    }

    @keyframes side-bar-slide-out{
        0%   {overflow:hidden; height:100%; margin-left:0px; opacity:1;}
        50%  {overflow:hidden; height:0%;   margin-left:0px; width:var(--side-bar-width); opacity:1;}
        51%  {overflow:hidden; height:0%;   margin-left:0px; width:var(--side-bar-width); opacity:0;}
        100% {overflow:hidden; height:0%;   margin-left:0px; width:0px; opacity:0;}
    }
    @keyframes side-bar-slide-in{
        0%   {overflow:hidden; height:0%;   margin-left:0px; width:0px; opacity:0;}
        50%  {overflow:hidden; height:0%;   margin-left:0px; width:var(--side-bar-width); opacity:0;}
        51%  {overflow:hidden; height:0%;   margin-left:0px; width:var(--side-bar-width); opacity:1;}
        100% {overflow:hidden; height:100%; margin-left:0px; opacity:1;}
    }
}