/*--Initial------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#studio-background{
    background-image:radial-gradient(circle, rgb(225, 225, 225), rgb(215, 215, 215));
}
.content-page{
    position:absolute;
    overflow:auto;
    height:100%;
    width:100%;
    left:0px;
    top:0px;
}
#front{
    pointer-events:none;
}
.file-input{
    display:none;
}

/*--Images-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.studio-image-holder{
    transform:translateY(-50%);
    position:absolute;
    left:1vh;
    top:50%;
    
    height:calc(100% - 14vh);
    width:calc(8.5vh + 2px);
    pointer-events:all;
    overflow-x:hidden;
    overflow-y:auto;

    justify-content:center;
    flex-direction:column;
    align-items:flex-start;
    display:flex;
}
.studio-image{
    box-shadow:0px 0px 1vh rgba(0, 0, 0, 0.05);
    border:1px solid rgb(200, 200, 200);
    background-color:rgb(255, 255, 255);
    margin-bottom:calc(0.25vh + 1px);
    margin-top:calc(0.25vh + 1px);
    padding:0.25vh;
    cursor:pointer;
    flex-shrink:0;
    width:6.5vh;
}
.studio-image:hover{
    transform:scale(1.1);
    transition:ease-in-out 0.1s;
}
.studio-image-selected{
    border:2px solid rgb(150, 150, 150);
    margin-bottom:0.25vh;
    margin-top:0.25vh;
}

/*--Colors-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.studio-color-holder{
    height:calc(4vh + 2px);
    bottom:2vh;
    left:1vh;

    justify-content:flex-end;
    pointer-events:all;
    align-items:center;
    position:absolute;
    width:min-content;
    display:flex;
}
.studio-color{
    box-shadow:0px 0px 1vh rgba(0, 0, 0, 0.05);
    border:1px solid rgb(0, 0, 0);
    margin-right:1vh;
    cursor:pointer;
    flex-shrink:0;
    display:block;
    height:4vh;
    width:4vh;

    justify-content:center;
    align-items:center;
    display:flex;

    background-position:center center;
    background-repeat:no-repeat;
    background-color:cover;
}
.studio-color:hover{
    transform:scale(1.1);
    transition:ease-in-out 0.1s;
}
.studio-color:active{
    transform:scale(0.9);
    transition:ease-in-out 0.1s;
}

/*--Zoom---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.zoom-window{
    box-shadow:0px 0px 1vh rgba(0, 0, 0, 0.05);
    border:1px solid rgb(200, 200, 200);
    background-color:rgb(255, 255, 255);
    color:rgb(50, 50, 50);
    pointer-events:all;
    position:absolute;
    padding:0.5vh;
    height:5vh;
    width:8em;
    left:1vh;
    top:1vh;

    justify-content:space-evenly;
    align-items:center;
    display:flex;
}
.zoom-button{
    background-position:center center;
    background-repeat:no-repeat;
    background-size:50%;
    cursor:pointer;
    flex-shrink:0;
    height:4vh;
    width:4vh;
}
.zoom-button:hover{
    transform:scale(1.1);
}
.zoom-button:active{
    transform:scale(0.9);
}
.minus{
    background-image:url("../assets/icons/minus.png");
}
.plus{
    background-image:url("../assets/icons/plus.png");
}
.zoom-display{
    height:100%;
    width:100%;
}
.zoom-text{
    justify-content:center;
    align-items:center;
    display:flex;
}

/*--Buttons------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.studio-button{
    box-shadow:0px 0px 1vh rgba(0, 0, 0, 0.05);
    border:1px solid rgb(200, 200, 200);
    background-color:rgb(255, 255, 255);
    transform:translateY(0px);
    color:rgb(50, 50, 50);
    pointer-events:all;
    border-radius:1vh;
    position:absolute;
    padding:0.5vh;
    width:10em;
}
.studio-button:hover{
    transform:translateY(-1px);
}
.studio-button:active{
    transform:translateY(1px);
}
.studio-button:disabled{
    cursor:default;
    opacity:0.5;
}
.studio-button:disabled:hover{
    transform:translateY(0px);
}
.studio-button:disabled:active{
    transform:translateY(0px);
}
#download{
    position:absolute;
    bottom:calc(6vh + 2px);
    right:2vh;
}
#send{
    position:absolute;
    bottom:2vh;
    right:2vh;
}

.studio-input{
    box-shadow:0px 0px 1vh rgba(0, 0, 0, 0.05);
    border:1px solid rgb(200, 200, 200);
    background-color:rgb(255, 255, 255);
    transition:ease-in-out 0.05s;
    pointer-events:all;
    border-radius:1vh;
    position:absolute;
    cursor:pointer;
    aspect-ratio:1;
    padding:0.5vh;
    height:6vh;
}
.studio-input:hover{
    transform:scale(1.05);
}
.studio-input:active{
    transform:scale(0.95);
}
.studio-input-img{
    background-position:center center;
    background-repeat:no-repeat;
    background-size:contain;

    height:4vh;
    width:100%;
}
.studio-input-text{
    justify-content:center;
    align-items:center;
    display:flex;

    color:rgb(50, 50, 50);
    font-size:1.7vh;
    height:2vh;
    width:100%;
}
#input-image-img{
    background-image:url("../assets/icons/add image.png");
}
#input-text-img{
    background-image:url("../assets/icons/add text.png");
}
#input-text{
    right:2vh;
    top:1vh;
}
#input-image{
    right:10vh;
    top:1vh;
}

.side-button-holder{
    transform:translateY(-50%);
    pointer-events:all;
    position:absolute;
    height:25vh;
    width:5vh;
    right:2vh;
    top:50%;

    justify-content:center;
    flex-direction:column;
    align-items:center;
    display:none;
}
.side-button{
    box-shadow:0px 0px 1vh rgba(0, 0, 0, 0.05);
    border:1px solid rgb(200, 200, 200);
    background-color:rgb(255, 255, 255);
    transition:ease-in-out 0.1s;
    border-radius:0.5vh;
    margin-bottom:0.25vh;
    transform:scale(1);
    margin-top:0.25vh;
    cursor:pointer;
    height:4vh;
    width:4vh;

    background-position:center center;
    background-repeat:no-repeat;
    background-size:60%;
}
.side-button:hover{
    transform:scale(1.1);
}
.side-button:active{
    transform:scale(0.9);
}
#duplicate{
    background-image:url("../assets/icons/duplicate.png");
}
#bringFront{
    background-image:url("../assets/icons/bring to front.png");
}
#flipH{
    background-image:url("../assets/icons/flip h.png");
}
#flipV{
    background-image:url("../assets/icons/flip v.png");
}
#delete{
    background-image:url("../assets/icons/delete.png");
}

/*--Main Screen--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.studio-canvas-holder{
    box-shadow:0px 0px 2vh rgba(0, 0, 0, 0.1);
    background-color:rgb(255, 255, 255);
    border:1px solid rgb(200, 200, 200);
    height:var(--default-canvas-size);
    transform:translate(-50%, -50%);
    position:absolute;
    overflow:visible;
    aspect-ratio:1;
    left:50%;
    top:50%;
}
.studio-outline-holder{
    border:1px solid rgba(0, 0, 0, 0);
    transform:translate(-50%, -50%);
    position:absolute;
    overflow:visible;
    aspect-ratio:1;
    height:82vh;
    left:50%;
    top:50%;
}
canvas{
    position:absolute;
    left:0px;
    top:0px;
}
.studio-canvas-image{
    position:absolute;
    user-select:none;
    padding:0px;
    outline:0px;
    margin:0px;
    border:0px;
}
.canvas-outline{
    border:1px solid rgb(200, 200, 255);
    position:absolute;
    cursor:default;
    opacity:0;
}
.selected-outline{
    cursor:move;
    opacity:1;
}
.selected-outline > .canvas-outline-orb{
    display:none;
}
.selected-outline > .canvas-outline-orb{
    display:block;
}
.canvas-outline-orb{
    background-color:rgb(255, 255, 255);
    border:1px solid rgb(100, 100, 100);
    transform:translate(-50%, -50%);
    border-radius:100%;
    position:absolute;
    aspect-ratio:1;
    display:block;
    height:2vh;
    z-index:3;
}
.canvas-outline-connect{
    border-right:1px solid rgb(200, 200, 255);
    transform:translate(-50%, -50%);
    position:absolute;
    height:25%;
    width:1px;
    left:50%;
    top:-12.5%;
    z-index:2;
}

/*--Captcha------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.mask{
    background-color:rgba(0, 0, 0, 0.2);
    position:absolute;
    display:none;
    height:100%;
    width:100%;
    z-index:10;
    left:0px;
    top:0px;
}
.captcha-window{
    box-shadow:0px 0px 1vh rgba(0, 0, 0, 0.05);
    border:1px solid rgb(200, 200, 200);
    background-color:rgb(255, 255, 255);
    transform:translate(-50%, -50%);
    color:rgb(50, 50, 50);
    position:absolute;
    padding:0.5vh;
    left:50%;
    top:50%;
}
#captcha-input{
    background-color:rgb(200, 200, 200);
    border:1px solid rgb(200, 200, 200);
    transform:translate(-50%);
    color:rgb(50, 50, 50);
    margin-left:50%;
    width:180px;
}
.captcha{
    transform:translate(-50%);
    margin-left:50%;
    margin-top:1vh;
    height:60px;
    width:150px;
}
.captcha-buttons{
    justify-content:space-evenly;
    align-items:center;
    display:flex;

    transform:translate(-50%);
    padding-bottom:0.5vh;
    padding-top:1vh;
    margin-left:50%;
    width:50%;
}
.captcha-buttons > *{
    padding-right:1vh;
    padding-left:1vh;
    height:3vh;
}
.captcha-email-text{
    margin-bottom:1vh;
    margin-right:1em;
    margin-left:1em;
}
input[type=email]{
    background-color:rgb(200, 200, 200);
    border:1px solid rgb(200, 200, 200);
    transform:translate(-50%);
    color:rgb(50, 50, 50);
    margin-left:50%;
    font-size:2vh;
    padding:0px;
    width:20em;
    padding-left:0.5em;
    padding-right:0.5em;

    font-family:"Inter";
    outline:none;
    border:none;
}

/*--Text Window--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.text-holder{
    box-shadow:0px 0px 1vh rgba(0, 0, 0, 0.05);
    border:1px solid rgb(200, 200, 200);
    background-color:rgb(255, 255, 255);
    transform:translate(-50%);
    color:rgb(50, 50, 50);
    pointer-events:all;
    position:absolute;
    padding:0.5vh;
    left:50%;
    top:1vh;
    padding-bottom:1vh;

    justify-content:center;
    align-items:center;
    display:none;
}
.text-item-holder{
    justify-content:center;
    flex-direction:column;
    align-items:center;
    display:flex;

    margin-right:0.5vh;
    margin-left:0.5vh;
}
.text-item-text{
    justify-content:center;
    align-items:flex-end;
    text-align:center;
    display:flex;

    margin-bottom:1vh;
    font-size:1.75vh;
    min-width:5em;
    height:2.5vh;
}
.text-item-font{
    justify-content:center;
    align-items:center;
    text-align:center;
    flex-wrap:wrap;
    display:flex;

    font-family:Arial;
    border:1px solid rgb(200, 200, 200);
    background-color:rgb(245, 245, 245);
    border-radius:0.5vh;
    cursor:pointer;
    width:10em;
}
.text-item-font:hover{
    background-color:rgb(235, 235, 235);
}
.text-item-font:active{
    background-color:rgb(225, 225, 225);
}

.font-window{
    box-shadow:0px 0px 1vh rgba(0, 0, 0, 0.05);
    background-color:rgb(255, 255, 255);
    transform:translate(-50%, -50%);
    position:absolute;
    height:90vh;
    width:30em;
    left:50%;
    top:50%;
}
.font-window-head{
    background-image:radial-gradient(ellipse, rgb(255, 175, 0) 1%, rgb(245, 165, 0));
    border:1px solid rgb(200, 100, 0);
    background-color:rgb(255, 175, 0);
    width:calc(100% - 1vh - 2px);
    color:rgb(75, 25, 0);
    font-size:3vh;
    padding:0.5vh;
    height:5vh;

    justify-content:center;
    align-items:center;
    position:relative;
    font-weight:bold;
    display:flex;
}
.font-window-close{
    background-image:url("../assets/icons/x.png");
    background-position:center center;
    background-repeat:no-repeat;
    background-size:contain;

    transform:translate(-50%, -50%) scale(1);
    transition:ease-in-out 0.1s;
    position:absolute;
    cursor:pointer;
    aspect-ratio:1;
    opacity:0.75;
    height:3vh;
    right:0vh;
    top:50%;
}
.font-window-close:hover{
    transform:translate(-50%, -50%) scale(1.1);
}
.font-window-close:active{
    transform:translate(-50%, -50%) scale(0.9);
}
.font-window-body{
    height:calc(100% - 8vh - 2px);
    width:calc(100% - 1vh);
    padding:0.5vh;

    overflow-x:hidden;
    overflow-y:auto;
}
.font{
    justify-content:center;
    align-items:center;
    white-space:nowrap;
    cursor:pointer;
    display:flex;

    transition:ease-in-out 0.1s;
    transform:scale(1);
    font-size:3vh;
    height:5vh;
    width:100%;
}
.font:hover{
    transform:scale(1.05);
}
.font:active{
    transform:scale(0.95);
}